<header class="masthead" style="background-image:linear-gradient({{ page.hero.gradient.top }}, {{ page.hero.gradient.bottom }}), url('{{ page.hero.background }}')">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col">
        <div class="my-5 text-xl-start">
          <h1 class="display-1 fw-bolder mb-2">{{ page.hero.title }}</h1>
          <h1 class="display-5 fw-normal mb-2">{{ page.hero.subtitle }}</h1>
        </div>
      </div>
      <div class="col text-xl-end text-dark">
        {{ page.hero.description | markdownify | replace: '<p>', '</p><p class="fw-normal fs-4 mb-4">' | replace: '<a', '<a class="link-dark" ' }}
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-end">
            <a class="btn btn-light btn-lg px-4" href="{{ site.url }}{{ site.baseurl }}/wosc{{ page.wosc }}/#news">News</a>
            <!-- if any paper match wosc version, show CFP, else show accepted papers -->
            {% assign any_papers = 0 %}
            {% for paper in site.papers %}
              {% if paper.wosc == page.wosc %}
                {% assign any_papers = 1 %}
              {% endif %}
            {% endfor %}
            {% if any_papers == 0 %}
            <a class="btn btn-light btn-lg px-4 me-sm-3" href="{{ site.url }}{{ site.baseurl }}/wosc{{ page.wosc }}/cfp#important-dates">Call for Papers (extended)</a>
            {% else %}
            <a class="btn btn-light btn-lg px-4 me-sm-3" href="{{ site.url }}{{ site.baseurl }}/wosc{{ page.wosc }}/papers">Accepted papers</a>
            {% endif %}
          </div>
      </div>
    </div>
  </div>
</header>
