<!DOCTYPE html>
<html lang="en">
  {%- include head.html -%}
  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      {%- include nav.html -%}
      <section class="py-5">
        <div class="container px-5 my-5">
          <h1 class="fw-bolder text-center">{{ page.title }}</h1>
          <hr />
          <div class="mt-5">
            {% assign show_demo = false %}
            {%- for demo in site.demos -%}
            {%- if demo.wosc == page.wosc -%}
            {% assign show_demo = true %}
            <div class="card mb-3">
              <div class="card-body">
                <h4 class="card-title"><a class="text-reset" href="{{ demo.url | prepend: site.baseurl }}">{{ demo.title }}</a></h4>
                <p class="card-text">{%- for author in demo.authors -%} {{ author.name }} {%- if forloop.last != true %}, {% endif -%} {%- endfor -%}</p>
                {%- if demo.article_link -%}
                <a href="{{ demo.article_link }}" class="btn btn-outline-primary btn-sm">Article</a>
                {%- endif -%} {%- if demo.video.talk_youtube_id -%}
                <a href="https://www.youtube.com/watch?v={{ demo.video.talk_youtube_id }}" class="btn btn-outline-primary btn-sm mr-5">Presentation</a>
                {%- endif -%}
              </div>
            </div>
            {%- endif -%}
            {%- endfor -%}
            {%- if show_demo == false -%}
            <p class="lead">TBD</p>
            {%- endif -%}
          </div>
        </div>
      </section>
    </main>
    {%- include footer.html -%}
    <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
  </body>
</html>
