<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="d-flex flex-column min-vh-100">
    <main class="flex-shrink-0">

      {%- include nav.html -%}

      <section class="py-5">
        <div class="container px-5 my-5">
          <h1 class="fw-bolder text-center">{{ page.title }}</h1>
          <hr />
          <div class="mt-5">
            {%- unless page.keynotes -%}
            <p class="lead">TBD</p>
            {%- endunless -%}
            {%- for keynote in page.keynotes -%}
            <div class="card mb-3">
              <div class="card-body">
                <h3 class="card-title display-6"><b>Keynote #{{ forloop.index }}:</b> {{ keynote.title }}</h3>
                  <div class="row">
                    <div class="col">
                      {{ keynote.abstract }}
                      <div class="mt-2">
                        {%- if keynote.presentation == false -%}
                        <button type="button" class="btn btn-outline-primary btn-sm" disabled>Presentation PDF</button>
                        {%- else -%}
                        <a href="{{ site.url }}{{ site.baseurl }}/{{ site.wosc.current_edition }}/presentations/{{ keynote.presentation }}" type="button" class="btn btn-outline-primary btn-sm">Presentation PDF</a>
                        {%- endif -%}
                      </div>
                    </div>
                    <div class="col">
                      <div> <span class="fw-bold">{{ keynote.speaker.name }}</span></div>
                      <div class="fw-thin">{{ keynote.speaker.affiliation }}</div>
                      <div class="text-muted">{{ keynote.speaker.bio }}</div>
                    </div>
                  </div>
              </div>
            </div>
            {%- endfor -%}
          </div>
        </div>
      </section>
    </main>

    {%- include footer.html -%}

    <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
  </body>

</html>
