<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">

      {%- include nav.html -%}

      <section class="py-5">
        <div class="container px-5 my-5" style="text-align: justify;">
          <!-- Welcome text -->
          <h1 class="fw-bolder text-center">{{ page.title }}</h1>
          <hr />
          <div class="mt-5 text-justify">
            {{ content }}
          </div>
        </div>
      </section>



    </main>

    {%- include footer.html -%}

    <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
  </body>

</html>
